* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;

  position: relative;
}

html {
  overflow-y: scroll;
}

.animation-container {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.content-container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.navbar {
  border-radius: 0px 0px 20px 20px;
  overflow: auto;
  display: flex;
  justify-content: center;
  background: black;
  align-items: center;

  top: 0;
  z-index: 2;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__logo {
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  font-weight: 50rem;
  font-size: 2rem;
  padding: 3rem;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  font-weight: 350;
  font-size: 20px;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.signup__button {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: rgb(145, 4, 145);
  color: white;
}

.signup__button:hover {
  background: rgb(18, 121, 18);
  transition: all 0.3s ease;
}

.center-column {
  display: flex;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(
    20px
  ); /* Blur effect for the background behind the container */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 10px;
}

.hero-section {
  filter: drop-shadow(0 0 0.75rem rgb(208, 22, 255));
  position: relative;
  text-align: center; /* Center text horizontally */
  color: white; /* Set text color to white */
}

.header-greeting {
  font-weight: 400;
  position: absolute;
  top: 50%; /* Position the text in the middle */
  left: 50%; /* Center text horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  font-size: 2.5rem; /* Adjust font size as needed */
  padding: 20px;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: Add a semi-transparent background to make text stand out */
  border-radius: 10px; /* Optional: Round the corners of the background */
  width: 80%; /* Optional: Constrain the text width */
}

.hero-img {
  width: 100%;
  height: 500px;
  display: block;
  border-radius: 20px;
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

u {
  color: blueviolet;
  font-weight: 350;
}

.article-paragraph1 {
  filter: drop-shadow(16px 16px 20px rgb(153, 0, 255)) invert(0%);
  margin-top: 30px;
  padding: 50px 20px;
  width: 50%;
  font-size: 30px;
  color: white;
}

.article-paragraph2 {
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 50px;
  color: white;
}

.purple-geode {
  align-items: baseline;
  display: flex;
  width: 100%;
}

.purple-geode img {
  width: 50%;
  border-radius: 20px;
}

.description-purple-geode {
  font-weight: 700;
  font-size: 20px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.green-geode {
  display: flex;
  width: 100%;
}

.green-geode img {
  width: 50%;
  border-radius: 20px;
}

.description-green-geode {
  font-weight: 700;
  font-size: 20px;
  color: white;
  width: 50%;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  filter: drop-shadow(0 0 0.75rem rgb(208, 22, 255));
  padding: 20px 0;
}

.footer-list > * {
  align-items: center;
  padding: 4px 0px;
  font-weight: 300;
}

.gallery-searchbar {
  filter: drop-shadow(0 0 0.75rem rgb(208, 22, 255));
  position: relative;
  text-align: center; /* Center text horizontally */
  color: white; /* Set text color to white */
}

.search-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-box {
  border-radius: 10px;
  height: 50px;

  background-color: purple;
  display: flex;
}

input {
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 20px;
}
.search-box > *:nth-child(1) {
  flex: 1 1 70%;
}

.search-box > *:nth-child(2) {
  flex: 1 1 30%;
}

.gallery-header {
  color: white;
  padding: 10px 0px;
  font-weight: 700;
}

.search-box > i {
  align-self: center;
}

footer > div {
  padding: 20px;
}

.gallery-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;

  background: rgba(188, 191, 196, 0.45);
  border-radius: 20px;
  flex: 1 1 calc(50% - 20px);
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
  padding: 5px 8px 20px 8px;
}

.gallery-post > img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px 20px 0px 20px;
}

.gallery-post p {
  color: black;
  font-weight: 300;
  font-size: 17px;
}

.all-gallery-posts {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery-post h3 {
  justify-content: flex-end;
  font-weight: 500;
  font-size: 20px;
}
:-moz-suppressed {
  display: dwa dwa;
}
.body-signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sign-up-header {
  margin-top: 5px;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  width: auto + 50px;
  filter: drop-shadow(0 0 0.75rem rgb(208, 22, 255));

  font-weight: 800;
  margin-bottom: 30px;
  color: white;
}

.signup-box {
  border-radius: 20px;
  color: white;
  filter: drop-shadow(0 0 0.75rem rgb(208, 22, 255));

  background-color: black;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 20px;
}

.signup-box > h3 {
  padding: 20px 30px;
  margin: auto 20px;
}
.signup-box > :nth-child(1) {
  padding-top: 0px;
}

.signup-box > input {
  padding: 5px 20px;
  margin: auto 20px;
  font-size: 20px;
}
.signup-box > h3 {
  padding-left: 0px;
  padding-right: 0px;
}

.signup-box > input {
  width: 600px;
}

.privacy-cookie {
  padding: 10px 10px;
  align-self: center;
}

.sign-up-button {
  border-radius: 5px;
  padding: 10px 200px;
  background-color: rgb(208, 22, 255);

  align-self: center;
}

.or {
  margin: 20px 90px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hr-signup-left {
  margin-right: 20px;
  padding-left: 20px;

  flex: 1;
}

.hr-signup-right {
  margin-left: 20px;

  padding: 0 10px;

  flex: 1;
}

.sign-up-button-google {
  height: 38.4px;
  width: 463.15px;
  border-radius: 5px;
  padding: 10px 100px;

  align-self: center;
  align-items: center;

  background-color: rgb(112, 11, 138);
  display: flex;
  justify-content: center;
}

.sign-up-button-google > img {
  height: 23px;
  width: auto;
}
.sign-up-button-google > p {
  padding-left: 20px;
}
.shape1,
.shape2,
.shape3,
.shape4,
.shape5,
.shape6 {
  position: absolute;
  filter: blur(5rem);
}

.shape1 {
  position: absolute;
  top: 42%;
  left: 70%;
  width: 25rem;
  height: 25rem;
  background: rgb(150, 22, 224);
  border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  filter: blur(6rem);
  animation: shape1 20s infinite;
}

@keyframes shape1 {
  0% {
    transform: translate(0, 0);
    border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  }
  25% {
    transform: translate(-55%, -10%);
    border-radius: 28% 72% 81% 19% / 78% 25% 75% 22%;
    height: 50rem;
    width: 80rem;
  }
  50% {
    transform: translate(-90%, -10%);
    border-radius: 60% 40% 0% 100% / 1% 74% 26% 99%;
  }
  75% {
    transform: translate(-30%, -10%);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0%;
    height: 30rem;
    width: 45rem;
  }
  100% {
    transform: translate(0%, 0%);
    border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  }
}

.shape2 {
  position: absolute;
  top: 33%;
  left: 40%;
  width: 35rem;
  height: 25rem;
  background: rgb(214, 131, 231);
  border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  filter: blur(12rem);
  animation: shape2 35s infinite;
}

@keyframes shape2 {
  0% {
    transform: translate(0, 0);
    border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  }
  25% {
    transform: translate(-55%, -55%);
    border-radius: 28% 72% 81% 19% / 78% 25% 75% 22%;
    height: 50rem;
    width: 50rem;
  }
  50% {
    transform: translate(-70%, -70%);
    border-radius: 60% 40% 0% 100% / 1% 74% 26% 99%;
  }
  75% {
    transform: translate(-30%, -30%);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0%;
  }
  100% {
    transform: translate(0%, 0%);
    border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  }
}

.shape3 {
  position: absolute;
  top: 20%;
  left: 80%;
  width: 25rem;
  height: 25rem;
  background: rgb(128, 196, 219);
  border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  filter: blur(14rem);
  animation: shape3 35s infinite;
}

@keyframes shape3 {
  0% {
    transform: translate(0, 0);
    border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  }
  25% {
    transform: translate(-125%, -25%);
    border-radius: 28% 72% 81% 19% / 78% 25% 75% 22%;
    height: 50rem;
    width: 50rem;
  }
  50% {
    transform: translate(-90%, -35%);
    border-radius: 60% 40% 0% 100% / 1% 74% 26% 99%;
  }
  75% {
    transform: translate(-30%, -40%);
    border-radius: 0% 100% 100% 0% / 0% 100% 100% 0%;
  }
  100% {
    transform: translate(0%, 0%);
    border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  }
}

.shape4 {
  position: absolute;
  top: 42%;
  left: 70%;
  width: 25rem;
  height: 25rem;
  background: rgb(169, 82, 177);
  border-radius: 24% 76% 77% 23% / 30% 30% 70% 70%;
  filter: blur(5rem);
  // animation: shape1 20s infinite;
}

.shape5 {
  position: absolute;
  top: 33%;
  left: 40%;
  width: 35rem;
  height: 25rem;
  background: rgb(200, 108, 223);
  border-radius: 73% 27% 77% 23% / 53% 4% 96% 47%;
  filter: blur(5rem);
  // animation: shape2 15s infinite;
}

.shape6 {
  position: absolute;
  top: 20%;
  left: 80%;
  width: 25rem;
  height: 25rem;
  background: rgb(189, 97, 243);
  border-radius: 70% 30% 80% 20% / 42% 25% 75% 58%;
  filter: blur(5rem);
  // animation: shape3 30s infinite;
}
